/* CSS styles for your blog website */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

p {
  font-family: 'Arial black';
  border: 1.5px solid black;
  border-radius: 10px;
}

article {
  margin-bottom: 40px;
}

article h2 {
  margin-top: 0;
}

article h3 {
  margin-top: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
.niceButton{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#fff;
  background-color: rgb(16, 185, 214);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.niceButton:hover{
background-color: #1795bb;
}
.niceButton:active{
  background-color: #1795bb;
  box-shadow: 0 5px #666;
  transform:translateY(4px);
}